@page "/counter"
@inherits Fluxor.Blazor.Web.Components.FluxorComponent


@inject IState<BlazorWasm.store.CounterState> state
@inject IDispatcher dispatcher

<h1>Counter</h1>

<p>Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount => state.Value.Count;

    private void IncrementCount()
    {
     dispatcher.Dispatch(new BlazorWasm.store.AddCounter());
    }
}
